<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <meta charset="UTF-8">
    <title>AddItem</title>
</head>
<body>
<form class="form-horizontal" method="post" th:object="${productDto}" th:action="@{/addItem}">
    <fieldset>

        <!-- Form Name -->
        <legend>PRODUCTS</legend>

        <!-- product name area-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="product_name">PRODUCT Name</label>
            <div class="col-md-4">
                <input id="product_name" th:field="*{name}" placeholder="PRODUCT NAME" class="form-control input-md"
                       required="" type="text">
            </div>
        </div>

        <!-- product description area-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="product_description">PRODUCT Description</label>
            <div class="col-md-4">
                <input id="product_description" th:field="*{description}" name="description" placeholder="PRODUCT DESCRIPTION" class="form-control input-md"
                       required="" type="text">
            </div>
        </div>

        <!-- product starting bidding area-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="product_starting_price">PRODUCT starting price</label>
            <div class="col-md-4">
                <input id="product_starting_price" th:field="*{startBiddingPrice}" name="startBiddingPrice" placeholder="PRODUCT STARTING PRICE" class="form-control input-md"
                       required="" type="number">
            </div>
            <!-- showing errors area-->
            <label th:if="${#fields.hasErrors('startBiddingPrice')}" th:class="'error'" th:errors="*{startBiddingPrice}"
                   class="col-lg-4 control-label" style="color:red;" ></label>
        </div>

        <!-- Select Basic -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="product_category">PRODUCT category</label>
            <div class="col-md-4">
                <select name="product_category" id="product_category" th:field="*{category}">
                    <option th:each="productCategory : ${T(com.example.onlineAuction.model.Category).values()}"
                            th:value="${productCategory.name()}" th:text="${productCategory.name()}"></option>
                </select>
            </div>
        </div>

        <!-- auction ending date area-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="auction_end_time">Auction End Date and Time</label>
            <div class="col-md-4">
                <input id="auction_end_time" th:field="*{endDateTime}" name="endDateTime" placeholder="Auction Ending Date" class="form-control input-md"
                       required="" type="datetime-local">
            </div>
        </div>

        <!-- Button -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="singlebutton"></label>
            <div class="col-md-4">
                <button id="singlebutton" name="singlebutton" type="submit" class="btn btn-primary">AddButton</button>
            </div>
        </div>
    </fieldset>
</form>
</body>
</html>