<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>This is the Online Auction application</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">
    <!-- Bootstrap core CSS -->

    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/bootstrap.min.css}"/>


    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/fontawesome.css}"/>

    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/tooplate-main.css}"/>

    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/owl.css}"/>

    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/custom.css}"/>
</head>
<body>

<div class="featured container no-gutter">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="/home">Home</a>
                    <a class="nav-link" href="/addItem">Add Item</a>
                    <a class="nav-link" href="/registration">Registration</a>
                    <a class="nav-link" href="/login">Login</a>
                </div>
            </div>
        </div>
    </nav>
    <div class="row posts">

        <div id="1" class="item new col-md-4" th:each="product:${products}">
            <a th:href="@{/item/{id}(id=${product.id})}">
                <div class="featured-item">
                    <img th:src="${'data:image/png;base64,'+product.getImage()}" alt="">
                    <h4 th:text="${product.getName()}"></h4>
                    <h6 th:if="${product.currentBidPrice == '0'}" th:text="${product.startBiddingPrice}+ '$'"></h6>
                    <h6 th:if="${product.currentBidPrice != '0'}" th:text="${product.currentBidPrice}+ '$'"></h6>
                </div>
            </a>
        </div>
    </div>
</div>

</body>
</html>
